*{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header*/
.header {
    text-align: center;
}

/*textos*/
.title{
    
    color: rgb(193, 84, 193);
    font-size: 3rem;
}

.titles{
    text-align: center;
   font-size: 23px;
   
}

.text{
    text-align: justify;
}
.parrafo{
    line-height: 1.5;
}
.derechos1{
    font-size: small;
}
/*body*/
/*imagenes*/
.img1{
    width: 100%;
    height: 100%;
}

/*contenedores*/
.container{
    width: 320px;
    align-items: center;
    margin-right: 4cm;
    display: flex;
    flex-direction: column;
    margin-top: -6cm;
    padding: 1rem;
    box-shadow: 1px 1px 10px ;
    
}
.container1{
    width: 320px;
    align-items: center;
    margin-right: 4cm;
    display: flex;
    flex-direction: column;
    margin-top: 6cm;
    padding: 2rem;
    box-shadow: 1px 1px 10px ;
}

/*contenedor padre*/
.containers{
margin-left: 2.5cm;
display: flex;
align-items: center;
flex-direction:row;
padding-bottom: 2rem;
}

/*footer*/
.footer{
    color: rgb(193, 84, 193);
    text-align: center;
}

.raya{
    padding-left: 95px;
    padding-right: 150px;
}
